<!--=================================================================
        ============================[ WORKS ]============================
        =================================================================-->
<section class="works-section section-padding" id="works">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Projets</h2>

        <ul class="list-inline" id="filter">
            <li class="list-inline-item">
                <a class="active" data-group="all">Tous</a>
            </li> 
            {% if categories|length > 0 %}
                {% for category in categories %}
                    <li class="list-inline-item">
                        <a data-group="{{ category.name }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <div class="row">
            <div class="col" id="grid">

                {% for work in works %}
                    <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='[
                        {%- for category in work.categories -%}
                            {{- category.name|json_encode() -}},
                        {%- endfor -%} "all"]'>
                    
                        <div class="portfolio-bg">
                            <div class="portfolio">
                                <div class="texture-overlay"></div>
                                <div class="links">
                                    {% if work.imageName is not defined %}
                                        <a class="image-link" href="{{ asset('assets/images/back/advice.jpg') }}">
                                            <i class="fas fa-search-plus"></i>
                                        </a>
                                    {% else %}
                                        <a class="image-link" href="{{ vich_uploader_asset(work, 'imageFile') }}">
                                            <i class="fas fa-search-plus"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{{ work.link }}">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                                <!-- /.links -->
                                {% if work.imageName is not defined %}
                                    <img src="{{ asset('assets/images/back/advice.jpg') }}" alt="Image par défaut">
                                {% else %}
                                    <img class="portfolio-img" src="{{ vich_uploader_asset(work, 'imageFile') }}" alt="{{ work.imageAlt }}">
                                {% endif %}
                                <div class="portfolio-info">
                                    <h3>{{ work.title }}</h3>
                                </div>
                                <!-- /.portfolio-info -->
                            </div>
                            <!-- /.portfolio -->
                        </div>
                        <!-- /.portfolio-bg -->
                    </div>
                    <!-- /.portfolio-item -->
                {% endfor %}

            </div>
            <!-- /#grid -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- End Works Section -->
