{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href={{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %}
    Connexion -
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100">
        <section class="tt-backend" data-stellar-background-ratio="0.2" data-stellar-vertical-offset="50" id="home">
            <div class="intro">
                <a class="" href="{{ path("portfolio") }}">
                    <img id="logo-web" src={{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
                </a>
                <h1>Connexion</h1>

                <div class="col-lg-6 mr-auto ml-auto card-body">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form id="login-form" action="{{ path('security_login') }}" method="POST">
                        <div class="form-group row">
                            <label class="col-lg-12 text-left" for="email">Email :</label>
                            <div class="col-lg-12">
                                <input class="form-control" id="email" name="_username" placeholder="Email" required type="text" value="{{ last_username }}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-12 text-left" for="password">Mot de Passe :</label>
                            <div class="col-lg-12">
                                <input class="form-control" id="password" name="_password" placeholder="Mot de passe" required type="password"/>
                            </div>
                        </div>
                        
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="go_to" value="{{ path('portfolio_dashboard') }}"/>

                        <!-- Le champ input permet la redirection -->

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me" checked> Rester connecté
                            </label>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-4 mr-auto ml-auto">
                                <button class="btn btn-info btn-submit-form" type="submit">
                                    Connexion
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.col-lg-6 mr-auto ml-auto card-body -->
            </div>
            <!-- /.intro -->
        </section>
        <!-- End Section -->
    </div>

{% endblock %}

{% block footer %}{% endblock %}
