{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href={{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %}
    Inscription -
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<div class="d-flex flex-column h-100">
    <section class="tt-backend" data-stellar-background-ratio="0.2" data-stellar-vertical-offset="50" id="home">
        <div class="intro">
            <a class="" href="{{ path("portfolio") }}">
                <img id="logo-web" src={{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
            </a>
            <h1>Inscription</h1>
            
            <div class="col-lg-10 mr-auto ml-auto card-body" id="register-form">
                {{ form_start(formRegister) }}
                    <div class="row justify-content-between">
                        {{ form_row(formRegister.username, {
                            'label' : 'Nom de l\'utilisateur', 
                            'label_attr' : { 'class' : 'col-lg-12 text-left'},
                            'attr' : { 'placeholder' : 'Votre nom' , 'class' : 'col-12'},
                            'help' : 'Votre Nom doit comporter au minimum 3 caratères'
                            }) }}
                        {{ form_row(formRegister.email, {
                            'label' : 'Email', 
                            'label_attr' : { 'class' : 'col-lg-12 text-left'},
                            'attr' : { 'placeholder' : 'Votre adresse email' , 'class' : 'col-12'},
                            'help' : 'Votre email doit être sous la forme "nom@exemple.com"'
                            }) }}
                    </div>
                    <div class="row justify-content-between">
                        {{ form_row(formRegister.password, {
                            'label' : 'Mot de passe', 
                            'label_attr' : { 'class' : 'col-lg-12 text-left'},
                            'attr' : { 'placeholder' : 'Votre mot de passe' , 'class' : 'col-12'},
                            'help' : 'Votre Mot de passe doit comporter au minimum 8 caratères'
                            }) }}
                        {{ form_row(formRegister.confirm_password, {
                            'label' : 'Confirmation du mot de passe',
                            'label_attr' : { 'class' : 'col-lg-12 text-left'}, 
                            'attr' : { 'placeholder' : 'Confirmez votre mot de passe' , 'class' : 'col-12'},
                            'help' : 'Vos deux de mots de passe doivent être identiques'
                            }) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit-form">
                        Inscription
                    </button>
                {{ form_end(formRegister) }}
            </div>
        </div><!-- /.intro -->
    </section><!-- End Section -->
</div>

{% endblock %}

{% block footer %}{% endblock %}
