{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/backend.css") }}" media="screen">
{% endblock %}

{% block title %}
    Catégories -
{% endblock %}

{% block header %}
    <header class="col-12 fixed-top" id="header">
        <div class="welcome row">
            <a class="col-2" href="{{ path("portfolio") }}">
                <img id="logo-web-nav" src={{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
            </a>
            <div class="col-10">
                <h1>Gestion des Catégories</h1>
            </div>
        </div>
        <!-- /.welcome -->
    </header>
{% endblock %}

{% block nav %}
    {{ include("inc/navBackend.html.twig") }} 
{% endblock %}

{% block body %}
    <div class="d-flex h-100" id="backend">
        <div class="ml-auto col-lg-10 d-flex flex-column tt-backend" id="home-backend">
            <div class="row">
                <section class="container col-10" id="body-backend">
                    <div id="dark-bg">
                        <div class="container">
                            <div id="form-list-category" class="row">
                                {{ form_start(formCategory) }}

                                {% if editCategory %}

                                    {{ form_row(formCategory.name, { 
                                        'label' : 'Modifier la catégorie:', 
                                        'attr' : { 'placeholder' : 'Nom de la catégorie' } }) }}
                                
                                    <button class="btn btn-primary btn-round">
                                        <i class="fas fa-edit"></i>
                                    </button>

                                {% else %}

                                    {{ form_row(formCategory.name, { 
                                        'label' : 'Ajouter une catégorie:', 
                                        'attr' : { 'placeholder' : 'Nom de la catégorie' } }) }}

                                    <button class="btn btn-info btn-round">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                {% endif %}

                                {{ form_end(formCategory) }}
                            </div>
                        </div>

                        {% if editCategory == false %}
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                    <div id="dark-bg">
                        <div class="container">
                            <div class="table-responsive-sm">
                                <table class="table table-striped table-hover" id="works-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Nombre de projets</th>
                                            <th scope="col">Modifier</th>
                                            <th scope="col">Supprimer</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categories %}

                                            <tr>
                                                <th scope="row">
                                                    <strong>{{ category.id }}</strong>
                                                </th>
                                                <td>
                                                    <strong>{{ category.name }}</strong>
                                                </td>
                                                <td>
                                                    <strong>{{ category.works | length }}</strong>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-round" href="{{ path('category_edit', { 'id': category.id }) }}">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <form method="POST" action="{{ path('category_remove', { 'id': category.id }) }}" onclick="return confirm('Es-tu sûr de vouloir supprimer la catégorie ?')">
                                                        <input type="hidden" name="_method" value="REMOVE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('remove-category' ~ category.id) }}">
                                                        <button class="btn btn-danger btn-round">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.dark-bg -->
                </section>
                <!-- End Hire Section -->
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
