{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href= {{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %} Dashboard - {% endblock %}

{% block header %}
    <header id="header" class="col-12 fixed-top">
        <div class="welcome row">
            <a class="col-2" href="{{ path("portfolio") }}">
                <img id="logo-web-nav" src= {{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
            </a>
            <div class="col-10">
                <h1>Bienvenue <a class="welcome-sub" href="{{ path('security_settings') }}"> {{ app.user.username }} </a></h1>
            </div>
        </div><!-- /.welcome -->
    </header>
{% endblock %}

{% block nav %}
    {{ include("inc/navBackend.html.twig") }} 
{% endblock %}

{% block body %}
    <div id="backend" class="d-flex h-100">          
        <div id="home-backend" class="ml-auto col-lg-10 d-flex flex-column">

                <div id="dashbord-bg" class="row">
                    <section class="container" id="body-backend">
                        <div class="col-12 overview">
                            <p><strong>Aperçu:</strong></p>
                            <div class="d-flex flex-lg-nowrap flex-wrap col-lg-11 col-md-12">
                                <div class="section-border col-lg-3 col-md-5 col-sm-6 info-overview info-messages">
                                    <a href="#" class="info-link-overview">
                                        <p>Messages </br>
                                        reçus:</p>
                                    
                                        <div class="number-overview">0</div>
                                        <i class="icon-overview far fa-envelope"></i>
                                    </a>
                                </div>
                                <div class="section-border col-lg-3 col-md-5 col-sm-6 info-overview info-charts">
                                    <a class="info-link-overview" href="{{ path('category_list') }}">
                                        {% if categories|length > 1 %}
                                            <p>Nombres de </br>
                                            catégories:</p>
                                        {% else %}
                                            <p>Nombres de </br>
                                            catégories:</p>
                                        {% endif %}
                                        <div class="number-overview">{{ categories|length }}</div>
                                        <i class="icon-overview far fa-chart-bar"></i>
                                    </a>
                                </div>
                                <div class="section-border col-lg-3 col-md-5 col-sm-6 info-overview info-projects">
                                    <a class="info-link-overview" href="{{ path('work_list') }}">
                                        {% if works|length > 1 %}
                                            <p>Projets </br>
                                            réalisés:</p>
                                        {% else %}
                                            <p>Projet </br>
                                            réalisé:</p>
                                        {% endif %}
                                        <div class="number-overview">{{ works|length }}</div>
                                        <i class="icon-overview fas fa-laptop"></i>
                                    </a>
                                </div>
                                <div class="section-border col-lg-3 col-md-5 col-sm-6 info-overview info-tasks">
                                    <textarea id="keep" name="keep" class="col-12">
                                    </textarea>
                                    <i class="icon-overview fas fa-tasks"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 overview">
                            <p><strong>Informations complémentaires:</strong></p>
                            <div class="d-flex flex-wrap">
                                <div class="col-lg-6 col-md-12">
                                    <div class="section-border col-12 info-messages sr-only">
                                        <strong>Boîte de réception:<br/></strong>
                                        Vous avez actuellement {{ works|length }} message dans votre boîte de réception.
                                    </div>
                                    <div class="section-border col-12 info-charts">
                                        <strong>Vos catégories:<br/></strong>
                                        Vous avez actuellement {{ categories|length }} catégories dans vos différents projets.
                                    </div>
                                    <div class="section-border col-12 info-projects">
                                        <strong>Vos projets:<br/></strong>
                                        Vous avez actuellement {{ works|length }} projets sur votre site.
                                    </div>
                                </div>
                            </div><!-- /.d-flex -->
                        </div><!-- /.col-12 overview -->
                    </section><!--#body-backend -->
                </div><!-- /.row -->

        </div><!-- /#home-backend /.tt-backend-->
    </div>
{% endblock %}

{% block footer %}{% endblock %}
