{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href= {{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %} Dashboard - {% endblock %}

{% block header %}
    <header id="header" class="col-12 fixed-top">
        <div class="welcome row">
            <a class="col-2" href="{{ path("portfolio") }}">
                <img id="logo-web-nav" src= {{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
            </a>
            <div class="col-10">
                <h1>Bienvenue sur ton Dashboard</h1>
                <div class="welcome-sub">Adrien</div>
            </div>
        </div><!-- /.welcome -->
    </header>
{% endblock %}

{% block body %}
    <div id="backend" class="d-flex h-100">
        <!-- NAV -->
        {% include "inc/navBackend.html.twig" %}           
        <!-- HOME -->
        <div id="home-backend" class="ml-auto col-lg-10 d-flex flex-column">
            <section class="col-12">
                <div class="row">
                    <div class="col-12 overview">
                        <p><strong>Aperçu:</strong></p>
                        <div class="d-flex flex-lg-nowrap flex-wrap col-lg-11 col-md-12">
                            <div class="section-border col-lg-3 col-md-5 col-sm-6 info-overview info-messages">
                                {% if works|length > 1 %}
                                    <p>Messages </br>
                                    reçus:</p>
                                {% else %}
                                    <p>Message </br>
                                    reçu:</p>
                                {% endif %}
                                <div class="number-overview">{{ works|length }}</div>
                                <i class="icon-overview far fa-envelope"></i>
                            </div>
                            <div class="section-border col-lg-3 col-md-5 col-sm-6 info-overview info-charts">
                                {% if categories|length > 1 %}
                                    <p>Nombres de </br>
                                    catégories:</p>
                                {% else %}
                                    <p>Nombres de </br>
                                    catégories:</p>
                                {% endif %}
                                <div class="number-overview">{{ categories|length }}</div>
                                <i class="icon-overview far fa-chart-bar"></i>
                            </div>
                            <div class="section-border col-lg-3 col-md-5 col-sm-6 info-overview info-projects">
                                {% if works|length > 1 %}
                                    <p>Projets </br>
                                    réalisés:</p>
                                {% else %}
                                    <p>Projet </br>
                                    réalisé:</p>
                                {% endif %}
                                <div class="number-overview">{{ works|length }}</div>
                                <i class="icon-overview fas fa-laptop"></i>
                            </div>
                            <div class="section-border col-lg-3 col-md-5 col-sm-6 info-overview info-tasks">
                                <textarea id="keep" name="keep" class="col-12" onchange="localStorage.strKeep = this.value">Faire menu dropdown
                                Voir SF4 -> upload Image
                                Faire btn Navigation
                                Modifier affichage form
                                </textarea>
                                <i class="icon-overview fas fa-tasks"></i>
                            </div>
                            <!--
                                -> Voir google Analytics
                                -> Faire compteur de visite sur chaque Projet.
                                -> Voir cours Symphony
                                -> Voir React.js
                                -> Voir Vue.js
                            -->
                        </div>
                    </div>
                    <div class="col-12 overview">
                        <p><strong>Informations complémentaires:</strong></p>
                        <div class="d-flex flex-wrap">
                            <div class="col-lg-6 col-md-12">
                                <div class="section-border col-12 info-messages sr-only">
                                    <strong>Boîte de réception:<br/></strong>
                                    Vous avez actuellement {{ works|length }} message dans votre boîte de réception.
                                </div>
                                <div class="section-border col-12 info-charts">
                                    <strong>Vos catégories:<br/></strong>
                                    Vous avez actuellement {{ categories|length }} catégories dans vos différents projets.
                                </div>
                                <div class="section-border col-12 info-projects">
                                    <strong>Vos projets:<br/></strong>
                                    Vous avez actuellement {{ works|length }} projets sur votre site.
                                </div>
                            </div>
                        </div><!-- /.d-flex -->
                    </div><!-- /.col-12 overview -->
                </div><!-- /.row -->
            </section><!-- /#col-12 -->
        </div><!-- /#home-backend /.tt-backend-->
    </div>
{% endblock %}

{% block footer %}{% endblock %}