{% extends 'base.html.twig' %}

{% form_theme formWork 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href={{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %} Projets - {% endblock %}

{% block header %}
    <header id="header" class="col-12">
        <div class="welcome">
            <div class="welcome-sub">Dashbord</div>
            <h1>Ajout d'un projet</h1>
        </div><!-- /.intro -->
    </header><!-- End Home Section -->
{% endblock %}

{% block body %}
    <section id="body-backend" class="container col-11">
        <div id="dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(formWork) }}
                        
                        {{ form_row(formWork.title, { 
                            'label' : 'Titre', 
                            'attr' : { 'placeholder' : 'Titre du Projet' }}) }}
                        {{ form_row(formWork.subtitle, { 
                            'label' : 'Sous-titre', 
                            'attr' : { 'placeholder' : 'Sous-titre du Projet' }}) }}
                        {{ form_row(formWork.content, { 
                            'label' : 'Contenu', 
                            'attr' : { 'placeholder' : 'Contenu du Projet' }}) }}
                        {{ form_row(formWork.link, { 
                            'label' : 'Lien', 
                            'attr' : { 'placeholder' : 'Url du Projet' }}) }}
                        {{ form_row(formWork.image, { 
                            'label' : 'Image', 
                            'attr' : { 'placeholder' : 'Image du Projet' }}) }}
                        {{ form_row(formWork.imageAlt, { 
                            'label' : 'Description de l\'image', 
                            'attr' : { 'placeholder' : 'Description de l\'image' }}) }}
                        {{ form_row(formWork.categories, {
                            'label' : 'Catégories'
                        })}}


                        {% if editMode %}
                            <button id="edit" type="submit" name="submit" class="btn btn-info">
                                Modifier le projet
                            </button>
                        {% else %}
                            <button id="save" type="submit" name="submit" class="btn btn-primary">
                                Enregistrer le projet
                            </button>
                        {% endif %}    
                
                        {{ form_end(formWork) }}
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.hire-section-bg -->
    </section><!-- End Hire Section -->
{% endblock %}

{% block footer %}{% endblock %}