{% extends 'base.html.twig' %}

{% form_theme formWork 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href={{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %}
    Ajouter un Projet -
{% endblock %}

{% block header %}
    <header class="col-12 fixed-top" id="header">
        <div class="welcome row">
            <a class="col-2" href="{{ path("portfolio") }}">
                <img id="logo-web-nav" src={{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
            </a>
            <div class="col-10">
                {% if editMode %}
                    <h1>Modifier le projet</h1>
                {% else %}
                    <h1>Ajouter un Projet</h1>
                {% endif %}
            </div>
        </div>
        <!-- /.welcome -->
    </header>
{% endblock %}

{% block nav %}
    {{ include("inc/navBackend.html.twig") }} 
{% endblock %}

{% block body %}
    <div class="d-flex h-100" id="backend">
        <div class="ml-auto col-lg-10 d-flex flex-column tt-backend" id="home-backend">
            <div class="row">
                <section class="container col-10" id="body-backend">
                    <div id="dark-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    {{ form_start(formWork) }}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            {{ form_row(formWork.title, { 
                                                'label' : 'Titre', 
                                                'attr' : { 'placeholder' : 'Titre du Projet' }
                                            }) }}
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            {{ form_row(formWork.subtitle, { 
                                                'label' : 'Sous-titre', 
                                                'attr' : { 'placeholder' : 'Sous-titre du Projet' }
                                            }) }}
                                        </div>
                                        <div class="col-12">
                                            {{ form_row(formWork.content, { 
                                                'label' : 'Contenu', 
                                                'attr' : { 'placeholder' : 'Contenu du Projet' }
                                            }) }}
                                        </div>
                                        <div class="col-12">
                                            {{ form_row(formWork.link, { 
                                                'label' : 'Lien', 
                                                'attr' : { 'placeholder' : 'Url du Projet' }
                                            }) }}
                                        </div>

                                        <div class="col">
                                            {% if editMode %}
                                                {{ form_row(formWork.imageFile, {
                                                    'label' : 'Modifier l\'image'
                                                }) }}
                                            {% else %}
                                                {{ form_row(formWork.imageFile, {
                                                    'label' : 'Ajouter une image'
                                                }) }}
                                            {% endif %}
                                            {{ form_row(formWork.imageAlt, { 
                                                    'label' : 'Description', 
                                                    'attr' : { 'placeholder' : 'Ajouter une description à l\'image' }
                                            }) }}
                                        </div>

                                        {% if editMode %}
                                            <div class="mt-3 col-5 ml-auto mr-auto">
                                                {% if work.imageName is null %}
                                                    <figure>
                                                        <img src="{{ asset('assets/images/back/advice.jpg') }}" alt="Image par défaut">
                                                    </figure>
                                                {% else %}
                                                    <figure>
                                                        <img src="{{ vich_uploader_asset(work, 'imageFile') }}" alt="{{ work.imageAlt }}">
                                                    </figure>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="col-12">
                                            {{ form_row(formWork.categories, {
                                                'label' : 'Catégories'
                                            }) }}
                                        </div>
                                        {% if editMode %}
                                            <button class="btn btn-info btn-submit-form" id="edit" name="submit" type="submit">
                                                Enregistrer
                                            </button>
                                        {% else %}
                                            <button class="btn btn-primary btn-submit-form" id="save" name="submit" type="submit">
                                                Ajouter
                                            </button>
                                        {% endif %}
                                    </div>
                                    <!-- /.row -->
                                    {{ form_end(formWork) }}
                                </div>
                                <!-- /.col-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.hire-section-bg -->
                </section>
                <!-- End Hire Section -->
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
