{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/backend.css") }}" media="screen">
{% endblock %}

{% block title %}
    Projets -
{% endblock %}

{% block header %}
    <header class="col-12 fixed-top" id="header">
        <div class="welcome row">
            <a class="col-2" href="{{ path("portfolio") }}">
                <img id="logo-web-nav" src={{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
            </a>
            <div class="col-10">
                <h1>Gestion des Projets</h1>
            </div>
        </div>
        <!-- /.welcome -->
    </header>
{% endblock %}

{% block body %}
    <div
        class="d-flex h-100" id="backend">
        <!-- NAV -->
        {% include "inc/navBackend.html.twig" %}
        <!-- HOME -->
        <div class="ml-auto col-lg-10 d-flex flex-column tt-backend" id="home-backend">
            <div class="row">
                <section class="container col-12" id="body-backend">
                    <div id="dark-bg">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <div class="ml-lg-auto col-lg-3 col-md-12">
                            <div class="container text-center">
                                <a class="btn btn-info btn-submit-all" href="{{ path('work_create') }}">Nouveau Projet</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.dark-bg -->
                    <div id="dark-bg">
                        <div class="container-fluid">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="works-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Titre</th>
                                            <th scope="col">Sous-titre</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Catégories</th>
                                            <th scope="col">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for work in works %}

                                            <tr class="link-table" onclick="document.location='{{ path('work_show' , { 'id': work.id }) }}'">
                                                <th scope="row">
                                                    <strong>{{ work.id }}</strong>
                                                </th>
                                                <td>
                                                    <strong>{{ work.title }}</strong>
                                                </td>
                                                <td>
                                                    <strong>{{ work.subtitle }}</strong>
                                                </td>
                                                <td>
                                                    <strong>{{ work.content|slice(0, 50) }}</strong>...</td>
                                                <td>
                                                    {% if work.imageName is not defined %}
                                                        <img class="image-list" src="{{ asset('assets/images/back/advice.jpg') }}" alt="Image par défaut">
                                                    {% else %}
                                                        <img class="image-list" src=" {{ vich_uploader_asset(work, 'imageFile') }}" alt="{{ work.imageAlt }}">
                                                    {% endif %}
                                                    
                                                </td>
                                                <td>
                                                    <strong>
                                                        {% for category in work.categories %}
                                                            <p>
                                                                {{ category.name }}
                                                            </p>
                                                        {% endfor %}
                                                    </strong>
                                                </td>
                                                <td class="action">
                                                    <a class="btn btn-primary btn-round" href="{{ path('work_edit', { 'id': work.id }) }}">
                                                        <i class="fas fa-edit"></i>
                                                    </a>

                                                    <form method="POST" action="{{ path('work_remove', { 'id': work.id }) }}" onclick="return confirm('Es-tu sûr de vouloir supprimer ton projet ?')">
                                                        <input type="hidden" name="_method" value="REMOVE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('remove-work' ~ work.id) }}">
                                                        <button class="btn btn-danger btn-round">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.dark-bg -->
                </section>
                <!-- End Hire Section -->
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
