{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href={{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %} Projet {{ work.id }} - {% endblock %}

{% block header %}
    <header id="header" class="col-12">
        <div class="welcome">
            <div class="welcome-sub">Dashbord</div>
            <h1>Projet {{ work.id }}</h1>
        </div><!-- /.intro -->
    </header><!-- End Home Section -->
{% endblock %}

{% block body %}
    <section id="body-backend" class="container col-11">
        <div id="dark-bg">
            <div class="container">
                <div class="row">
                    <hr>
                    <div class="col-1 offset-1">
                        <p>Titre: </p>
                    </div>
                    <div class="col-6 ml-auto mr-auto">
                        <h3>{{ work.title }}</h3>
                    </div>
                    <div class="col-1 offset-1">
                        <p>Sous-titre: </p>
                    </div>
                    <div class="col-6 ml-auto mr-auto">
                        <h4>{{ work.subtitle }}</h4>
                    </div>
                    <div class="col-1">
                        <p>Lien: </p>
                    </div>
                    <div class="col-3 text-left">
                        <p><a href="{{ work.link }}">{{ work.link }}</a></p>
                    </div>
                    <hr>
                    <div class="col-1 offset-1">
                        <p>Image: </p>
                    </div>
                    <div class="col-6 ml-auto mr-auto">
                        <img src="{{ work.image }}" alt="{{ work.imageAlt }}">
                    </div>
                    <div class="col-1">
                        <p>Date: </p>
                    </div>
                    <div class="col-3 text-left">
                        <p>{{ work.createdAt | date('d/m/Y à H:i') }}</p>
                    </div>
                    <hr>
                    <hr>
                    <div class="col-10 mr-auto ml-auto">
                        <p>Description: </p>
                        <p>{{ work.title }}</p>
                    </div>
                    <div class="col-2 mr-auto ml-auto">
                        <p>Catégorie: </p>
                        <p></p>
                    </div>
                    <hr>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.hire-section-bg -->
    </section><!-- End Hire Section -->
{% endblock %}