{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href={{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %}
    Projet
    {{ work.id }}
    -
{% endblock %}

{% block header %}
    <header class="col-12 fixed-top" id="header">
        <div class="welcome row">
            <a class="col-2" href="{{ path("portfolio") }}">
                <img id="logo-web-nav" src={{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
            </a>
            <div class="col-10">
                <h1>Projet:</h1>
                <div class="welcome-sub">{{ work.title }}</div>
            </div>
        </div>
        <!-- /.welcome -->
    </header>
{% endblock %}

{% block body %}
    <div
        class="d-flex h-100" id="backend">
        <!-- NAV -->
        {% include "inc/navBackend.html.twig" %}
        <div class="ml-auto col-lg-10 d-flex flex-column tt-backend" id="home-backend">
            <div class="row">
                <section class="container col-12" id="body-backend">

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div id="dark-bg">
                        <div class="row">
                            <div class="col work-show">
                                <hr>
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-12">
                                        <p class="work-label">Titre:
                                        </p>
                                    </div>
                                    <div class="col-lg-8 col-md-9 col-sm-12 mr-lg-auto text-center">
                                        <h3>
                                            <a href="{{ work.link }}">{{ work.title }}</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-12">
                                        <p class="work-label">Sous-titre:
                                        </p>
                                    </div>
                                    <div class="col-lg-8 col-md-9 col-sm-12 mr-lg-auto text-center">
                                        <h4>{{ work.subtitle }}</h4>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-12">
                                        <p class="work-label">Description:
                                        </p>
                                    </div>
                                    <div class="col-lg-8 col-md-9 col-sm-12 mr-auto">
                                        <p>{{ work.content }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-12 ml-auto mr-auto">
                                        <p class="work-label">Image:
                                        </p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 ml-auto mr-auto">

                                        {% if work.imageName is null %}
                                            <figure>
                                                <img src="{{ asset('assets/images/back/advice.jpg') }}">
                                            </figure>
                                            <figcaption>
                                                    <em>Image par défaut</em>
                                            </figcaption>
                                        {% else %}
                                            <figure>
                                                <img src="{{ vich_uploader_asset(work, 'imageFile') }}">
                                            </figure>
                                            <figcaption>
                                                    <em>{{ work.imageAlt }}</em>
                                            </figcaption>
                                        {% endif %}
                                        
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-3  col-sm-12">
                                                <p class="work-label">Date:
                                                </p>
                                            </div>
                                            <div class="ml-auto col-lg-7 col-sm-12 text-left">
                                                <p>{{ work.createdAt | date('d/m/Y à H:i') }}</p>
                                            </div>
                                            <hr>
                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <p class="work-label">Catégories:</p>
                                            </div>
                                            <div class="ml-lg-auto col-lg-8 col-md-8 d-flex flex-wrap">
                                                {% for category in work.categories %}
                                                    <p class="col-lg-5 col-md-5 checked-categories">
                                                        {{ category.name }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <hr>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /#dark-bg -->
                    <div id="dark-bg">
                        <div class="row">
                            <div class="col container text-center">
                                <a class="btn btn-primary btn-submit-all" href="{{ path('work_edit',{ 'id': work.id }) }}">
                                    <i class="fas fa-edit"></i> Modifier
                                </a>
                            </div>
                            <div class="col container text-center">
                                <form method="POST" action="{{ path('work_remove', { 'id': work.id }) }}" onclick="return confirm('Es-tu sûr de vouloir supprimer ton projet ?')">
                                    <input type="hidden" name="_method" value="REMOVE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('remove-work' ~ work.id) }}">
                                    <button class="btn btn-danger btn-submit-all">
                                        <i class="fas fa-trash-alt"></i> Supprimer
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /#dark-bg -->
                </section>
                <!-- /#body-backend -->
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
