{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href={{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %} Projet {{ work.id }} - {% endblock %}

{% block header %}
    <header id="header" class="col-12">
        <div class="welcome">
            <div class="welcome-sub">Dashbord</div>
            <h1>Projet {{ work.id }}</h1>
        </div><!-- /.intro -->
    </header><!-- End Home Section -->
{% endblock %}

{% block body %}
    <section id="body-backend" class="container col-11">
        <div id="dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <hr>
                        <div class="row">
                            <div class="col-2">
                                <p>Titre: </p>
                            </div>
                            <div class="col-8 mr-auto text-center">
                                <h3><a href="{{ work.link }}">{{ work.title }}</a></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Sous-titre: </p>
                            </div>
                            <div class="col-8 mr-auto text-center">
                                <h4>{{ work.subtitle }}</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-2">
                                <p>Description: </p>
                            </div>
                            <div class="col-8 mr-auto">
                                <p>{{ work.content }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-1 ml-auto mr-auto">
                                <p>Image: </p>
                            </div>
                            <div class="col-6 ml-auto mr-auto">
                                <img src="{{ work.image }}" alt="{{ work.imageAlt }}">
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-3">
                                        <p>Date: </p>
                                    </div>
                                    <div class="col-9 text-left">
                                        <p>{{ work.createdAt | date('d/m/Y à H:i') }}</p>
                                    </div>
                                    <div class="col-3">
                                        <p>Catégories:</p>
                                    </div>
                                    <div class="col-9 text-left">
                                        <p>Html</p>
                                        <p>Php</p>
                                    </div>
                                </div>
                                <div>
                            </div>
                        </div><!-- /.row -->
                        <hr>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.hire-section-bg -->
    </section><!-- End Hire Section -->
{% endblock %}

{% block footer %}{% endblock %}